{% extends 'base.html.twig' %}

{% block title %}{{peak.title}}{% endblock %}

{% block main %}

<div>
    <h1>{{peak.shortid}}: {{peak.title}}</h1>
    <p><strong>Latitude: </strong> {{peak.latitude}}</p>
    <p><strong>Longitude: </strong> {{peak.longitude}}</p>
    <p><strong>Počet bodů: </strong> {{peak.pointsPerVisit}}</p>
    <div>{{peak.description}}</div>
</div>

{% endblock %}