<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{race.title}} - vrcholy</title>
        <style>
            table {border-collapse: collapse;}
            table, th, td {border: 1px solid black;}
        </style>
    </head>

    <body>
        <h1>{{race.title}} - vrcholy</h1>

        <table>
            <tr><th></th><th>Vrchol</th><th>GPS</th><th>Detail</th><th>Navštíveno</th></tr>
            {% for peak in peaks %}
            <tr>
                <td>{{peak.shortid}}</td>
                <td>{{peak.title}}</td>
                <td>{{peak.GPS}}</td>
                <td>{{peak.description}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>