{% extends 'base.html.twig' %}

{% block title %}{{race.title}} - administrace{% endblock %}

{% block main %}

<h1>{{race.title}}</h1>
<p>{{race.description}}</p>

<div>
    {{ form(delete_race_form) }}
</div>    


<h2>Vrcholy</h2>
{% if (peaks) %}
    <table>
        <tr><th></th><th>Vrchol</th><th>GPS</th>{#<th>Detail</th>#}</tr>
        {% for peak in peaks %}
        <tr>
            <td>{{peak.shortid}}</td>
            <td>{{peak.title}}</td>
            <td>{{peak.GPS}}</td>
            {#<td>{{peak.description}}</td>#}
        </tr>
        {% endfor %}
    </table>
{% endif %}

<div>
    {{ form(add_peaks_form) }}
</div> 

{#<div>
    {{ form(delete_peaks_form) }}
</div> #}

<h2>Přihlášené týmy</h2>
<div>
    {{ form(add_teams_form) }}
</div> 

{#<div>
    {{ form(signin_teams_form) }}
</div> 

<div>
    {{ form(signout_teams_form) }}
</div> #}
{% endblock %}