{% extends 'base.html.twig' %}

{% block title %}{{race.title}} - výsledky{% endblock %}

{% block body %}

<h1>Aktuální výsledky: {{race.title}}</h1>

<table>
    <tr><th>Jméno týmu</th><th>Počet vrcholů</th></tr>
    {% for team in results %}
    <tr><td><a href="{{ path('admin_visit_detail', {raceid:race.id,teamid:team.id}) }}">{{team.title}}</a></td><td>{{team.num_of_visits}}</td></tr>
    {% endfor %}
</table>

{% endblock %}