{% extends 'base.html.twig' %}

{% block title %}{{race.title}} - výsledky{% endblock %}

{% block main %}

<h1>Aktuální výsledky: {{race.title}}</h1>

<table class="table table-striped">
    <tr>
        <th scope="col">Pořadí</th>
        <th scope="col">Jméno týmu</th>
        <th scope="col">Závodní kategorie</th>
        <th scope="col">Body za vrcholy</th>
        {% if race.tasksEnabled %}
            <th scope="col">Body za úkoly</th>
        {% endif %}
        <th scope="col">Celkem</th>
    </tr>
    {% set i = 1 %}
    {% for teamres in results %}
    <tr scope="row">
        {% if teamres.order_low == teamres.order_high %}
            <td>{{teamres.order_low}}.</td>
        {% else %}
            <td>{{teamres.order_low}}. - {{teamres.order_high}}.</td>
        {% endif %}
        <td><a href="{{ path('admin_visit_detail', {raceid:race.id,teamid:teamres.teamid}) }}">{{teamres.title}}</a></td>
        <td>{{teamres.race_category}}</td>
        <td>{{teamres.peak_points}}</td>
        {% if race.tasksEnabled %}
            <td>{{teamres.task_points}}</td>
        {% endif %}
        <td>{{teamres.total_points}}</td>
    </tr>
    {% set i = i + 1 %}
    {% endfor %}
</table>

{% endblock %}