{% extends 'base.html.twig' %}

{% block title %}{{task.title}}{% endblock %}

{% block main %}

<div>
    <h1>{{task.title}}</h1>
    <p><strong>Počet bodů: </strong> {{task.pointsPerAnswer}}</p>
    <div>{{task.description}}</div>
</div>

<table class="table table-striped">
    <tr>
        <th scope="col">Tým</th>
        <th scope="col">Čas</th>
        <th scope="col">Odpověď</th>
    </tr>
    {% for answer in answers %}
    <tr scope="row">
        <td>{{answer.team_title}}</td>
        <td>{{answer.time|date('d.m.Y H:i:s')}}</td>
        <td>{% if answer.note %}
                {{answer.note|sanitize_html}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p><a href="{{ path('admin_race_results', {raceid:race.id}) }}">Zpět na výsledky</a></p>

{% endblock %}