{% extends 'base.html.twig' %}

{% block title %}Průchod hrou{% endblock %}

{% block main %}

<h1>{{team.title}}</h1>
Členové týmu
<ul>
{% for m in members %}
    <li>{{m.name}} email: <a href="mailto:{{m.email}}">{{m.email}}</a></li>
{% endfor %}
</ul>

<h2>Návštěny vrcholů</h2>

<table class="table table-striped">
    <tr>
        <th scope="col">Vrchol</th>
        <th scope="col">Počet bodů</th>
        <th scope="col">Čas</th>
        <th scope="col">Poznámka</th>
    </tr>
    {% for visit in visits %}
    <tr scope="row">
        <td><a href="{{ path('admin_peak_detail', {peakid:visit.id,raceid:race.id}) }}">{{visit.title}}</a></td>
        <td>{{visit.pointsPerVisit}}</td>
        <td>{{visit.time|date('d.m.Y H:i:s')}}</td>
        <td>{% if visit.note %}
                {{visit.note|sanitize_html}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p><a href="{{ path('admin_race_results', {raceid:race.id}) }}">Zpět na výsledky</a></p>

{% endblock %}