{% extends 'base.html.twig' %}

{% block title %}Průchod hrou{% endblock %}

{% block main %}

<h1>{{team.title}}</h1>

Členové týmu
<ul>
{% for m in members %}
    <li>{{m.name}} email: <a href="mailto:{{m.email}}">{{m.email}}</a></li>
{% endfor %}
</ul>

<h2>Plnění úkolů</h2>

<table class="table table-striped">
    <tr>
        <th scope="col">Úkol</th>
        <th scope="col">Počet bodů</th>
        <th scope="col">Čas</th>
        <th scope="col">Poznámka</th>
    </tr>
    {% for answer in answers %}
    <tr scope="row">
        <td><a href="{{ path('admin_task_detail', {taskid:answer.id,raceid:race.id}) }}">{{answer.title}}</a></td>
        <td>{{answer.pointsPerAnswer}}</td>
        <td>{{answer.time|date('d.m.Y H:i:s')}}</td>
        <td>{% if answer.note %}
                {{answer.note|sanitize_html}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p><a href="{{ path('admin_race_results', {raceid:race.id}) }}">Zpět na výsledky</a></p>

{% endblock %}