{% extends 'base.html.twig' %}

{% block title %}{{task.title}}{% endblock %}


{% block main %}
<div>
    <h1>{{race.title}} - {{task.title}}</h1>
    <div><strong>Počet bodů za splnění:</strong> {{task.pointsPerAnswer}}</div>
    <div><strong>Zadání úkolu:</strong> {{task.description|sanitize_html}}</div>

    {% if images %}
        {% for image in images %}
        <img src="{{ asset('uploads/images/' ~ image.filename) }}" width="600px">
        {% endfor %}
    {% endif %}

    {% if date(race.stopLoggingPeaks) > date() %}
        <div class="py-3">
        {{ form(answer_form) }}
        <p>Poznámka: nahráním obrázku do aplikace souhlasíte s jeho použitím Picnic Adventures pro další propagaci.</p>
        <p>Poznámka: aplikace nezmenšuje soubory obrázky při nahrávání, proto pokud máte omezené množství dat nahrávejte 
        obrázky na wifi, nebo počítejte ss větší spotřebou dat. V případě problémy s nahrátím obrázku (nedostatek dat, 
        špatný signál) je možné toto neudělat. Mějte prosím potvrzující obrázky připravené pro případnou kontrolu organizátorem.</p>
        </div>

    {% else %}
        <p class="py-3">Splnnění úkolu již nejde logovat ani jinak změnit. Logování skončilo: {{race.stopLoggingPeaks|date('d.m.Y H:i:s')}}</p>
    {% endif %}

    <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</div>

<p><a href="{{ path('race_show', {id:race.id}) }}">Zpět na závod</a></p>

{% endblock %}
