<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png')}}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>

        {% block stylesheets %}{% endblock %}
        {% block script %}{% endblock %}

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% block header %}
            <div class="container">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        
                        <div class="col-lg-9 text-center">
                            <a class="blog-header-logo text-dark" href="{{ path('app_home') }}">
                                <img src="{{ asset('logo.png') }}" width="48 px" height="48 px">
                                {% if app.user %}
                                Moje Závody
                                {% else %}
                                Aplikace Picnic Adventures
                                {% endif %}
                            </a>
                        </div>

                        
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="col text-right">
                            <a class="btn btn-sm btn-outline-warning" href="{{ path('admin_home')}}">Administrace</a>
                        </div>
                        {% endif %}

                        {% if app.user %}
                        <div class="col text-right">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout')}}">Odhlásit</a>
                        </div>
                        {% else %}
                        <div class="col text-right">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login')}}">Přihlášení</a>
                        </div>
                        {% endif %}

                    </div>
                </header>
        {% endblock %}

     
        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="blog-footer">
            {% block footer %}{% endblock %}
            <div class="footer-content">
                <div class="row">
                    {#<div clas="col-4">
                        <div class="col"><a href="https://www.facebook.com/picnicadventures"><img src="{{ asset('img/footer/facebook-square-brands.png') }}" alt="facebook logo"><p>@picnicadventures</p></a></div>
                        <div class="col"><a href="https://www.instagram.com/picnic__adventures/"><img src="{{ asset('img/footer/instagram-brands.png') }}" alt="instagram logo"><p>@picnic__adventures</p></a></div>
                        <div class="col"><a href="mailto:crew@picnicadventures.com"><img src="{{ asset('img/footer/envelope-regular.png') }}" alt="mail icon">crew@picnicadventures.com</a></div>
                    </div>#}
                    <div class="col">
                        <div class="footer-title">Picnic Adventures</div> 
                        <div class="row fs-6 align-left">
                            <h6>Menu jazyka</h6>
                            <ul style="display: inline;">
                                {% for locale in locales() %}
                                    <li style="display: inline;" {% if app.request.locale == locale.code %} class="active"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'all_races'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>vytvořil a spravuje <a href="mailto:zdenek.jancik@gmail.com">Jánošík</a>.©2021</div>
                    </div>
                </div>
                
            </div>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>
