<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block script %}{% endblock %}
    </head>
    <body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        
        {% block header %}
            <header>
            <a href="{{ path('homepage') }}">Úvod</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home')}}">Administrace</a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('app_logout')}}">Odhlásit</a>

            {% else %}
                <a href="{{ path('app_login')}}">Přihlášení</a>
            {% endif %}
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
