{% extends 'base.html.twig' %}

{% block title %}{{peak.title}}{% endblock %}

{% block script %}
    <!-- base leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- geolocation -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>
{% endblock %}

{% block main %}
<div>
    <p>{{race.title}}</p>
</div>
<div>
    <h1>{{peak.shortid}}: {{peak.title}}</h1>
    <p><strong>Latitude: </strong> {{peak.latitude}}</p>
    <p><strong>Longitude: </strong> {{peak.longitude}}</p>
    <div>{{peak.description}}</div>
</div>

<div>
    {{ form(form) }}
</div>

<h2>Mapa</h2>
<div id="map" style="width:600px; height:400px;"></div>
<script>
	var map = L.map('map').setView([{{ peak.latitude}}, {{ peak.longitude }}], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 10,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

    L.control.locate().addTo(map);

    marker = new L.marker([{{ peak.latitude}}, {{ peak.longitude }}])
        .bindPopup("{{ peak.title }}")
        .addTo(map);
</script>


<a href="{{ path('race_show', {id:race.id}) }}">Zpět na závod</a>

{% endblock %}
