{% extends 'base.html.twig' %}

{% block title %}{{peak.title}}{% endblock %}

{% block script %}
    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load()</script>
{% endblock %}

{% block body %}
<div>
    <p>{{race.title}}</p>
</div>
<div>
    <h1>{{peak.shortid}}: {{peak.title}}</h1>
    <p><strong>Latitude: </strong> {{peak.latitude}}</p>
    <p><strong>Longitude: </strong> {{peak.longitude}}</p>
    <div>{{peak.description}}</div>
</div>

<div>
    <h2>Zalogování vrcholu</h2>
    {{ form(form) }}
</div>

<h2>Mapa</h2>
<div id="m" style="width:600px; height:400px;"></div>
	<script type="text/javascript">
		var center = SMap.Coords.fromWGS84({{peak.longitude}},{{peak.latitude}} );
		var m = new SMap(JAK.gel("m"), center, 13);
        m.addDefaultLayer(SMap.DEF_BASE).enable();
        m.addDefaultControls();
        var layer = new SMap.Layer.Marker();
        m.addLayer(layer);
        layer.enable();
        var card = new SMap.Card();
        card.getHeader().innerHTML = "<strong>{{peak.title}}</strong>";
        card.getBody().innerHTML = "{{peak.description}}";
        var options = {title: "{{peak.title}}"};
        var marker = new SMap.Marker(center, "myMarker", options);
        marker.decorate(SMap.Marker.Feature.Card, card);
        layer.addMarker(marker);
	</script>
</div>

{% endblock %}
