{% extends 'base.html.twig' %}

{% block title %}{{race.title}}{% endblock %}

{% block script %}
    <!-- base leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- geolocation -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>

{% endblock %}

{% block main %}
<div>
    <h1>({{peak.shortid}}) {{peak.title}}</h1>
    <p><strong>GPS: </strong> {{peak.GPS}}</p>
    <p><strong>počet bodů: </strong> {{peak.pointsPerVisit}}</p>
    <div>{{peak.description|raw}}</div>
</div>

{% if images %}
    {% for image in images %}
        <img src="{{ asset('uploads/images/' ~ image.filename) }}" width="600px">
    {% endfor %}
{% endif %}

{% if date(race.stopLoggingPeaks) > date() %}
<div class="py-3">
    {{ form(visit_form) }}
    <p>Poznámka: nahráním obrázku do aplikace souhlasíte s jeho použitím Picnic Adventures pro další propagaci.</p>
</div>
{% else %}
<p class="py-3">Návštěvu checkpointu již nejde logovat ani jinak změnit. Logování skončilo: {{race.stopLoggingPeaks|date('d.m.Y H:i:s')}}</p>
{% endif %}

<h2>Mapa</h2>
<div id="map" style="width:600px; height:400px;"></div>
<script>
	var map = L.map('map').setView([{{ peak.latitude}}, {{ peak.longitude }}], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 10,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

    L.control.locate().addTo(map);

    marker = new L.marker([{{ peak.latitude}}, {{ peak.longitude }}])
        .bindPopup("{{ peak.title }}")
        .addTo(map);
</script>


<p><a href="{{ path('race_show', {id:race.id}) }}">Zpět na závod</a></p>
<p><a href="{{ path('peak_map', {raceid:race.id}) }}">Zpět na mapu</a></p>

{% endblock %}
